@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

.btn-group {
  /* @apply border border-secondaryBorder; */
}
.btn-group .btn {
  @apply hover:bg-primary hover:text-secondary border border-secondaryBorder border-r-0 transition-all hover:transition-all;
}
.btn-group .btn,
.btn {
  @apply py-3 px-6 text-center;
}
.btn-primary{
  @apply bg-primary text-secondary rounded-lg;
}
.btn-group .btn:first-child {
  @apply rounded-tl-lg rounded-bl-lg border border-r-0 border-secondaryBorder;
}
.btn-group .btn:last-child {
  @apply rounded-tr-lg rounded-br-lg border border-secondaryBorder;
}

.landing-header{
  @apply bg-secondary lg:bg-hero-pattern bg-no-repeat bg-[length:230px_400px];
}

.landing-header-card{
  @apply bg-right-top  bg-hero-card-pattern bg-no-repeat bg-[length:180px_100px];
}

.selectable-label {
  @apply flex cursor-pointer font-medium relative overflow-hidden w-max mb-3;
}
.selectable-label input {
  position: absolute;
  left: -9999px;
}
.selectable-label input:checked + span {
  @apply bg-transparent;

}
.selectable-label input:checked + span:before {
  @apply border-2 border-secondary text-secondary  transition-[border];
}
.selectable-label  input + span::after{
  @apply flex justify-end items-center ml-3 mt-1 w-4 h-4;
  content: url("./plusIcon.svg");
}
.selectable-label  input:checked + span::after{
  @apply flex justify-end items-center ml-3 transition-[content] w-4 h-4;
  content: url("./xIcon.svg");

}
.selectable-label span:before {
  content: "";
  @apply absolute top-0 left-0 bottom-0 ring-0 w-full h-full rounded-full;

}
.selectable-label span {
  @apply bg-[#E1EEFB] flex font-medium justify-between items-center px-4 py-3 rounded-full text-secondary xl:text-[14px] transition-[0.25s] ease-linear;
}
