@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

.btn-group {
  /* @apply border border-secondaryBorder; */
}
.btn-group .btn {
  @apply hover:bg-primary hover:text-secondary transition-all hover:transition-all;
}
.btn-group .btn,
.btn {
  @apply py-3 px-6 text-center;
}
.btn-primary{
  @apply bg-primary text-secondary rounded-lg;
}
.btn-group .btn:first-child {
  @apply rounded-tl-lg rounded-bl-lg border border-r-0 border-secondaryBorder;
}
.btn-group .btn:last-child {
  @apply rounded-tr-lg rounded-br-lg border border-secondaryBorder;
}

.landing-header{
  @apply bg-secondary bg-hero-pattern bg-no-repeat bg-[length:230px_400px];
}

.landing-header-card{
  @apply bg-right-top  bg-hero-card-pattern bg-no-repeat bg-[length:180px_100px];
}

.toasts-wrapper {
  position: fixed;
  bottom: -100%;
  width: 100%;
  transition: all 1s;
}


.show {
  bottom: 0;
}

.hide {
  bottom: -100%;
}

.toast {
  padding: 1rem;
  color: white;
}

.success {
  background-color: #34623f;
}

.error {
  background-color: #E15634;
}